[2014-07-09 22:16] tjchambers opened #2 "Deprecated reference = setDefaultHeaders"
In Sender.php line #78 there is a call to setDefaultHeaders method in Guzzle Client. This method is deprecated. I do not understand the code of honeybadger-php enough nor Guzzle to know how to replace this, but I wanted to point that out.

[2015-06-18 20:47] grantlucas opened #6 "Update release state"
Would it be possible to get an updated release for this package so that we can set more specific version requirements?

Thanks!

[2015-06-18 21:30] gevans commented on #6
You're right. A new release should have been pushed a while ago. [v0.2.0](https://github.com/gevans/honeybadger-php/releases/tag/v0.2.0) is tagged.

[2015-06-18 21:30] #6 closed

[2015-06-22 14:13] grantlucas commented on #6
@gevans Thanks for the new release! Just a heads up that [Packagist](https://packagist.org/packages/gevans/honeybadger) doesn't seem to see the new release.

[2015-06-22 14:34] grantlucas commented on #6
Looks like it's probably an issue with including the version number in this package's composer.json. [I set up a PR to hopefully resolve the issue.](https://github.com/gevans/honeybadger-php/pull/7)

[2016-04-28 12:31] joshuap opened #11 "Code review"
This task is to review code to make sure:

- it conforms to the client guide
- it meets [Fig standards](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-1-basic-coding-standard.md)

Create issues for anything you feel needs to change, and assign them to the 0.2.0 milestone.

[2016-04-28 12:35] joshuap opened #12 "Update composer"
https://github.com/honeybadger-io/honeybadger-php/blob/master/composer.json should be updated to point to this repo and also I think we should be releasing this as "honeybadger-io/honeybadger" now. Also, we can add me to the maintainers role (under "authors"):

[code]

I'm fine if Gabe stays, but we could remove the maintainer role from his entry. I'm not familiar with the other "role" options yet

[2016-04-28 12:54] joshuap opened #13 "Monolog handler"
Create a [Monolog handler](https://github.com/Seldaek/monolog/tree/master/src/Monolog/Handler) and submit it via PR to the official project. Errors should include request data if possible (or if not, maybe we can also integrate directly with Laravel to provide request data).

[2016-04-28 12:56] joshuap opened #14 "Laravel integration"
In addition to #13 (Monolog support), I'd like to determine if there are other ways to integrate with Laravel, perhaps via [Errors & Logging](https://laravel.com/docs/5.2/errors#logging). The goal is to report errors which happen during requests to Honeybadger with request data such as params, session, etc.

[2016-04-29 16:19] tjchambers commented on #11
Before I dive too deep in here would like to have some code coverage setup. If you don't have a problem I would set that up with CodeClimate (my pref) so it could be analyzed as part of the CI runs.

[2016-04-29 16:21] tjchambers commented on #11
@joshuap I also noted you have a "gabriel@codeconcoction.com" who is notified on travis CI runs. Is this Gabe Evans? Should I leave that? Not sure your relationship.

[2016-04-29 18:36] joshuap commented on #11
@tjchambers here you go: https://codeclimate.com/github/honeybadger-io/honeybadger-php

[2016-04-29 18:43] tjchambers commented on #11
@joshuap I am going to start by making a rather large PR (perhaps a series) to address standards and code cleanup. This will also get us a chance to see what process issues we have that need to be adjusted as we move forward.

[2016-04-29 19:25] joshuap commented on #11
Sounds good

[2016-04-29 20:07] tjchambers opened #15 "Logger fails to pass through $variables"
I am a bit confused by the various methods in `Logger`. For each of the specific Log levels the second parameter is not passed forward, so it is unused. Based on the doc for each this seems counter. @joshuap could you look at that WTP and see if you concur that is a bug?

[2016-04-29 20:30] tjchambers commented on #11
In terms of PSR standards since there is latitude on the property names format (camelCase or not) I am going to leave those as-is. I am going to adhere to the name camelCase changes in the method names though with the understanding this is pre 1.0.

[2016-04-30 00:15] gevans commented on #15
Definitely a bug. I had originally intended to pass `$variables` into [`Logger#add`](https://github.com/honeybadger-io/honeybadger-php/blob/master/lib/Honeybadger/Logger.php#L208-L216) but I seem to have forgotten to do that entirely.

I haven't validated whether `Logger`'s interface meshes well with other libraries in the PHP ecosystem. It may be better to just scrap it and use/reference another

[2016-04-30 15:20] tjchambers commented on #15
@gevans Thanks for weighing in on this. I am going to fix it per the original intention and then we can examine Logger protocol as a distinct issue. Better to make it work as intended first.

[2016-04-30 17:57] joshuap commented on #11
👍

[2016-05-01 22:29] #15 closed

[2016-05-01 22:40] tjchambers opened #21 "Warrant that current API for PHP works < PHP v. 7.0"
As there are significant changes in PHP 7.0 in error and exception handling, until that is confirmed then warrant and test that the current API works for 5.x of PHP only.

[2016-05-01 23:16] tjchambers commented on #21
Warranted in #22. Will leave open for review at point of PHP 7.0 testing.

[2016-06-23 23:22] joshuap opened #33 "Support PHP 7"
Opening this for discussion; related to #21.

[2016-06-23 23:24] joshuap opened #34 "Document laravel setup"
We have a [working example Laravel app now](https://github.com/honeybadger-io/crywolf-laravel); there are just a few steps to hook into the global error handler. We should document those in the readme, similar to [Slim](https://github.com/honeybadger-io/honeybadger-php#slim-installation).

[2016-06-23 23:25] joshuap commented on #34
This is different from #14, which may add a more official integration.

[2016-06-24 00:18] joshuap opened #35 "Use `::configure` in README examples."

[2016-06-24 00:20] joshuap opened #36 "Finalize README for 0.2.0"
After #34 and #35.

[2016-06-24 00:23] joshuap commented on #14
Something I just noticed: we're already getting some request data for free because it's in the environment (See [lib/Honeybadger/Environment.php](https://github.com/honeybadger-io/honeybadger-php/blob/master/lib/Honeybadger/Environment.php). The main thing we need to add is the post params section and maybe a few other things, and make it easier to integrate w/ Laravel (or maybe provide an out-of-

[2016-06-24 00:26] joshuap opened #37 ""Error in exception handler" in Laravel when api key isn't configured."
I think this is a bug. When the API key is configured (via the HONEYBADGER_API_KEY environment variable) on [crywolf-laravel](https://github.com/honeybadger-io/crywolf-laravel) I get the expected "Oops, something went wrong" page and the error is reported to my project, but when I run the server without the API key I get a different "Error in exception handler" message on a blank page. There is no

[2016-06-24 00:28] joshuap commented on #37
As a part of this we may need to add a test to verify that we log an error and don't blow up when `Honeybadger::notify` is called without the API key being configured beforehand (I seem to remember discussing something like this in the past, so sorry if I'm being redundant).

[2016-06-24 16:09] tjchambers commented on #12
@joshuap I think this is addressed - can you confirm?

[2016-06-24 16:10] tjchambers commented on #11
@joshuap also please confirm - believe this is addressed now.

[2016-06-24 16:26] tjchambers commented on #37
@joshuap My recall is the prior discussion was that due to side-effect handling that explicit init was required. I then changed that to test and init on ALL calls to `::notify`. However this requires a deeper test to ensure that on true INIT that the API_KEY is found "somewhere". I am looking at that now, but one concern is that the API_KEY is not truly needed until the first report. Some API's wo

[2016-06-24 16:28] tjchambers commented on #21
@joshuap I believe we can close this and assign me to PHP 7.0 support issue

[2016-06-24 16:47] tjchambers opened #38 "Ruby required for PHP API?"
IMO Ruby should not be a requirement inside the PHP API repo. This means that there should be no Gemfile, Gemfile.lock, config.ru, Guardfile etc. especially with it locking in on a somewhat dated Ruby version.

I believe this is in there to setup a testing environment for the API code itself, but users of the API should see this as pure PHP.

[2016-06-24 17:54] tjchambers commented on #37
I am not getting what I inferred I would get back from the server in terms of HTTP response codes in various api_key configs

When api_key is NOT provided (header[X-API-KEY] is not present) the result is:
Error in exception handler: Client error response [status code] 403 [reason phrase] Forbidden [url] https://api.honeybadger.io/v1/notices/ in /Users/tj/projects/crywolf-laravel/vendor/guzzle/guzz

[2016-06-24 17:55] tjchambers commented on #37
I am going to upgrade the Guzzle version which is EOL. Upgrade target to version 6.x of Guzzle

[2016-06-24 18:42] joshuap commented on #37
@tjchambers what we should do for now is:

1. When sending a notice, if no API key is configured, just log that Honeybadger is not configured and that the notice cannot be sent (notify the log instead of Honeybadger). This is how we handle that in other libs.
2. If a non-201 status is returned from the server when creating a notice (with an api key), log that error and status code.
3. Calling `Hon

[2016-06-24 18:45] tjchambers commented on #37
@joshuap

I did #1 and of course then it is logged, but not very visible.
I can do #2 I believe , but should upgrade Guzzle first.
In my opinion #2 would handle #3

[2016-06-24 18:46] tjchambers commented on #37
@joshuap IMO it will be hard to diagnose if a bad API KEY is supplied with a 403 response.

[2016-06-24 18:49] joshuap commented on #37
Since there is no API supplied in this bug, then `BadResponseException` should not be raised because it shouldn't be attempting to send the notice, right?

[2016-06-24 23:42] #2 closed

[2016-06-24 23:43] #12 closed

[2016-06-24 23:43] #21 closed

[2016-06-24 23:43] #37 closed

[2016-06-24 23:43] #11 closed

[2016-06-26 20:50] tjchambers commented on #33
The test suite runs under PHP 7.0 without error. Which did not surprise me, as the difference in Exception processing is mainly on the client end. I am going to go over this once more to confirm the proper tests for regression.

[2016-07-09 15:34] #34 closed

[2016-07-09 15:44] joshuap commented on #35
@tjchambers I noticed that a lot of the config examples in the readme cannot use `Honeybadger::configure`; for instance:

[code]

in light of that, do you think `Honeybadger::configure` makes sense? I don't think we need it for lazy initialization anymore (since we do that in Notice), so we *do* have the option of dropping it. I thought it would be a good idea to have it since many of our other la

[2016-07-09 15:47] joshuap commented on #33
@tjchambers cool, do you think you'd have time to do this before releasing 0.2.0? I think it's the only thing remaining, aside from #35 and #36.

[2016-07-09 15:51] tjchambers commented on #35
I prefer initialization of a service in a non-lazy manner - I would always prefer to know when and if it is configured in an imperative sense. The more *magic* in getting it *started* - especially when some configuration _is_ mostly appropriate is IMO not expected.

I will also point out there is the issue of the other languages. I am on the fence about the relevancy since each community has a spe

[2016-07-09 15:53] tjchambers commented on #33
Let me look at making a specific test case for a true PHP7 handler. I will get back to you.

[2016-07-19 23:18] joshuap commented on #35
@tjchambers what if we just revert f79dca540f246c9c2a958767f708fb8b218c8768 and punt on the `::configure` method? I think 0.2 would be ready to release, then.

[2016-07-19 23:20] tjchambers commented on #35
I would be good with that. Are you taking that ball?

[2016-07-19 23:22] joshuap commented on #35
Sure. I'll do that, close out the remaining 0.2.0 milestone issues, and then could you do the release? I'll let you know when it's ready.

[2016-08-25 16:15] joshuap commented on #35
Reverted in 076e0646873c7d4804babe5a8b4efb24a9910587

[2016-08-25 16:16] #35 closed

[2016-08-25 17:21] #36 closed

[2016-08-25 17:36] joshuap commented on #33
I added the build to Travis, which passes: https://travis-ci.org/honeybadger-io/honeybadger-php/jobs/155119718

[2016-08-29 14:46] #33 closed

[2017-01-03 02:25] tato11 opened #41 "Synfony 3 + PHP7"
Hi,

So I was trying to use Honeybadger with the latest Symfony 3 on PHP7 but every time I tried to run `composer install` I got a couple errors, one being PHP7 support issue and another one within the latest Symfony 3 version. Anyways here is the PHP7 related one, a TypeError error message:

[code]

After some research, I found the issue was caused by PHP7 `\Throwable` object (http://php.net/manu

[2017-08-26 02:12] JayAndCatchFire opened #43 "Inconsistent reporting of URL port"
I'm finding that the URL field of the exceptions that are being reported by this library is inconsistently showing the port.  Sometimes it acts like one would expect, showing the port number only when it's not 80 or 443.  Sometimes it shows the port even when it's 80.  And sometimes, especially when the host is `localhost` and the port is something unusual like 8090, it reports the port in the url

[2018-03-04 12:09] sixlive commented on #43
@JayAndCatchFire I would love to get any additional details about this issue. What version of the package are you using? Are you using a specific framework?

We're doing some pretty basic URL formatting and pulling it from the `$_SERVER` superglobal. (See [Environment.php](https://github.com/honeybadger-io/honeybadger-php/blob/master/lib/Honeybadger/Environment.php?#L185,L204))

We also have some

[2018-03-04 12:25] sixlive commented on #38
Will be removed in an upcoming release.

Thanks for the feedback!

[2018-03-04 12:25] #38 closed

[2018-03-04 18:41] JayAndCatchFire commented on #43
Here's my setup:
- PHP 5.5 on "amazonlinux", the default RHEL-based OS for AWS ec2 instances
- honeybadger-php 0.3.1 via Composer
- Zend Framework 1.12 via Composer

This is a legacy app. We're not really fully using Zend as designed. The "framework" is a very lightweight bespoke system that's poaching some of Zend's classes. For example, it uses Zend's request and response classes.

[2018-03-04 18:54] JayAndCatchFire commented on #43
FWIW, this seems to happen _very_ infrequently. I just went through my HB logs to try to find another example. I had to scour a little bit, but I did find one from 4 months ago.

Here's the environment info from that occurrence. I had to redact the values of several fields, unfortunately, since this comes from proprietary code. I hope this is still helpful. Let me know if there is anything else I

[2018-03-19 21:52] JayAndCatchFire opened #46 "Filter for $_SERVER data"
There are things in our $_SERVER data we'd like to filter or omit, such as `HTTP_SESSION_ID` and perhaps parts of our `HTTP_REFERER`.  It sure would be nice if there was a way to do that.

[2018-03-19 21:56] JayAndCatchFire opened #47 "Option to NOT automatically register as error handler and exception handler"
Although I agree that having Honeybadger register as the error handler and exception handler on init is a sane default, it would be nice if there was an option to _not_ do that.

In my use case, we're working around #46 by adding the necessary filtering to our own custom error/exception handlers.  We're calling `Honeybadger::notify` ourselves.  But that means we have to break the chain of handlers

[2018-03-20 10:05] sixlive commented on #47
@JayAndCatchFire I totally agree, I'm currently working on a total rewrite and global handler registration is optional and explicit.

I'll look into adding the ability to disable registration this week to resolve this for you until the rewrite is completed.

[2018-03-20 10:12] sixlive commented on #46
@JayAndCatchFire as mentioned in #47 I'm working on a total rewrite and I've added custom filtration to the feature list.

I'll look into adding a workaround to this current version this week.

[2018-03-31 12:47] #46 closed

[2018-04-05 10:52] sixlive commented on #46
@JayAndCatchFire these will be tagged and released today or tomorrow!

[2018-04-05 10:52] sixlive commented on #47
@JayAndCatchFire these will be tagged and released today or tomorrow!

[2018-04-08 13:45] sixlive commented on #47
@JayAndCatchFire sorry for the delay. This feature was just tagged in [v0.4.0](https://github.com/honeybadger-io/honeybadger-php/releases/tag/v0.4.0).

[2018-04-08 13:45] sixlive commented on #46
@JayAndCatchFire sorry for the delay. This feature was just tagged in [v0.4.0](https://github.com/honeybadger-io/honeybadger-php/releases/tag/v0.4.0).

[2018-04-09 17:47] JayAndCatchFire commented on #46
Awesome.  I'll be kicking the tires on the new release sometime either this week or next week.

[2018-04-09 17:47] JayAndCatchFire commented on #47
Awesome.  I'll be kicking the tires on the new release sometime either this week or next week.

[2018-05-15 21:17] JayAndCatchFire opened #51 "Fatal error: Class 'Slim\Middleware' not found"
I receive the error `Fatal error: Class 'Slim\Middleware' not found` when trying to run a minimal Slim app with the `Honeybadger\Slim` middleware.

[code]

I'm using Slim 3.x.  I'm guessing this is still meant for use with Slim 2.x?

[2018-05-17 10:58] sixlive commented on #51
I’ll take a look at this today!

[2018-05-17 14:29] JayAndCatchFire commented on #46
I know this was a long time coming, but I used this yesterday and it works like a charm! :thumbsup:

Originally, I wanted to just filter some of the query parameters, but I ended up getting around this by filtering the query params and request uri superglobals completely and then adding them back via the context as an associative array after having filtered the particular params that need it. It d

[2018-06-07 23:00] JayAndCatchFire opened #52 "⚠️ Library is using PHP 5.6 code while the composer.json file claims it's still 5.5 compatible"
I'm running on PHP 5.5 and PHP threw a fit while using this library.  The [`composer.json`](https://github.com/honeybadger-io/honeybadger-php/blob/db0f3a8366642e0e9db884354f655920808dc83d/composer.json#L28) says this should be PHP 5.5 compatible, which is why composer let me upgrade to the latest release.  But I get errors when it hits [this line](https://github.com/honeybadger-io/honeybadger-php/

[2018-06-07 23:20] sixlive commented on #52
Ah, yes. I missed bumping the required version in the `composer.json`. The required version should have been bumped to `5.6`.

Is PHP 5.5 support critical for you?

[2018-06-07 23:33] JayAndCatchFire commented on #52
We're discussing updating to 5.6.  The features in the latest release of this lib are important to us.

[2018-06-07 23:37] sixlive commented on #52
Ok, I'll cut a release for 5.5 support and then cut a release that will bump back to 5.6 support with a corrected composer file.

ETA 24 hours.

[2018-06-08 00:41] sixlive commented on #52
Is there any way you can confirm the changes on [fix-php-55-support](https://github.com/honeybadger-io/honeybadger-php/tree/fix-php-55-support) work for you? I don't have a way to test anything on 5.5.

Once we get this confirmed I'll get it tagged.

[2018-06-08 01:19] JayAndCatchFire commented on #52
I can check it first thing tomorrow.

[2018-06-08 09:12] sixlive commented on #51
Thanks, I added a note to the README.

[2018-06-08 09:12] #51 closed

[2018-06-08 09:29] sixlive commented on #43
Ah, I see why. Looking at the environment you sent the port is being included in both the `SERVER_PORT` and `HTTP_HOST`.

I've created a fix for this and will tag it in the release of #52.

[2018-06-08 17:55] JayAndCatchFire commented on #52
I'm testing this now.

[2018-06-08 21:28] JayAndCatchFire commented on #52
I wasn't able to get to testing this today, unfortunately.  Too much stuff came up.  I'll try very hard to test this on Monday.

[2018-06-11 17:55] JayAndCatchFire commented on #52
@sixlive Good news!  I just ran the patch and everything appears to be working.

[2018-06-11 19:20] sixlive commented on #52
Awesome. I’ll get a release tagged tonight!

[2018-06-12 13:32] #52 closed

[2018-06-12 13:46] sixlive commented on #52
@JayAndCatchFire fix included in https://github.com/honeybadger-io/honeybadger-php/releases/tag/v0.4.1

[2018-06-12 13:46] sixlive commented on #43
@JayAndCatchFire fix included in https://github.com/honeybadger-io/honeybadger-php/releases/tag/v0.4.1

[2018-06-12 18:00] JayAndCatchFire commented on #52
Thanks for the quick turnaround on this.  You saved my butt.

[2018-06-19 17:37] JayAndCatchFire opened #56 "What to do when the request sent to HB times out or fails"
This is as much a question as a suggestion.  I've had situations where the Guzzle connection to HB times out, which then generates a new error... sorta, which then gets caught by this library, which then _does_ actually get reported to HB.  I know there are already settings to adjust the http timeouts, which I'm going to tweak for my application.  But I wonder what the correct course of action for

[2018-06-19 19:07] sixlive commented on #56
I'll take a look at the way Guzzle is throwing errors and see what I can do here.

I think tweaking the timeout configuration would be the correct solution but I can see how this would be confusing.

[2018-08-16 00:05] joshuap opened #61 "Send the class in addition to the function for each frame"
I think this is probably the appropriate place for this issue, but if it's more of a Laravel thing, we can relocate it to [honeybadger-laravel](https://github.com/honeybadger-io/honeybadger-laravel/issues).

The raw Laravel stack trace (copied from the debug page in [crywolf-laravel](https://github.com/joshuap/crywolf-laravel)) includes the class name for each stack frame, in addition to the funct

[2018-08-17 16:03] joshuap opened #63 "Add function to reset context"
We should have a function to clear/reset the context back to its default state, i.e.:

[code]

It's common to call this function after each web request, for instance, so that global context is scoped to each request.

[2019-02-11 10:21] #13 closed

[2019-02-11 10:54] #14 closed

[2019-02-11 10:54] sixlive commented on #41
With all the updates this should be resolved now. Please open a new issue if any problems persist.

[2019-02-11 10:54] #41 closed

[2019-02-11 10:57] sixlive commented on #56
Is this still an issue?

[2019-02-11 11:22] sixlive commented on #61
@joshuap I've started the implementation in #72. Before I dive too much further I want to make sure that the schema you posted is still correct.

[2019-02-11 16:11] JayAndCatchFire commented on #56
No, I haven't seen this happening since I reported this.

[2019-02-11 16:13] sixlive commented on #56
Awesome. Let me know if you have any other issues! Happy to help!

[2019-02-11 16:13] #56 closed

[2019-02-11 19:20] joshuap commented on #61
@sixlive yeah it should be, but I think we'll need to add the "class" property to the backtrace items array. Does that make sense to you? If so, run with it, and I'll update any schemas on our end as necessary.

[2019-02-11 19:46] #63 closed

[2019-02-16 09:06] Kaname87 opened #74 "Accept notification options for grouping"
Honeybadger is accepting `grouping` options for easier error tracing.
https://docs.honeybadger.io/lib/javascript/guides/customizing-error-grouping.html#grouping-by-component

I think that would be nicer if we can pass such options via `honeybadger-php` also.

[2019-02-16 09:31] Kaname87 commented on #74
I've tried to address this feature request by my self in https://github.com/honeybadger-io/honeybadger-php/pull/75
But not sure if this implementation seems ok.
I'm willing to close or re-write PR if i can get some feedback. Thanks.

[2019-02-16 13:22] sixlive commented on #74
Thanks for your contribution!!

I'll take a look at this over the weekend.

[2019-02-19 19:09] sixlive commented on #74
It was my birthday over the weekend and this totally slipped my mind. Taking a look through things now.

[2019-02-20 01:56] Kaname87 commented on #74
No problem. please take your time. Happy birthday :)

[2019-02-20 11:15] sixlive commented on #74
Haha thanks! I'm playing with your PR and a few other implementation ideas.

[2019-02-22 07:16] Kaname87 commented on #74
that sounds grate :) then i can just close and wait your implementation. or it's ok to me that I try implementing your idea.

[2019-02-22 13:54] sixlive commented on #74
I'm thinking of a similar approach. I'll see how close they are and make some comments on the PR.

[2019-06-22 16:24] abishekrsrikaanth opened #84 "Method call arguments on the stacktrace/backtrace"
## What are the steps to reproduce this issue?

- Generate error with https://github.com/honeybadger-io/honeybadger-laravel
- Review error report in Honeybadger

## What happens?
The error is reported but the stack trace does not have any information about the arguments for each method call.

## What were you expecting to happen?
The arguments passed on each method call of the stack trace should b

[2019-06-22 19:07] sixlive commented on #84
I’ll look at it this weekend!

[2019-06-26 11:16] sixlive commented on #84
Still looking into it and working out an implementation. I agree that this is a must-have feature.

[2019-06-26 12:48] sixlive commented on #84
The team over at Homeybadger is working on the server side API to support this and then I can wrap up the implementation. We’re looking somewhere around a week to get this sorted and tagged.

[2019-07-08 14:36] abishekrsrikaanth commented on #84
Sounds good. Look forward to seeing this. This will be very valuable information to see.

[2019-07-15 10:11] sixlive commented on #74
This will land in 1.6

[2019-07-15 10:11] #74 closed

[2019-07-18 10:21] #84 closed

[2019-07-18 10:52] sixlive commented on #74
Tagged https://github.com/honeybadger-io/honeybadger-php/releases/tag/v1.6.0

[2019-07-18 10:52] sixlive commented on #84
https://github.com/honeybadger-io/honeybadger-php/releases/tag/v1.6.0

[2019-07-20 16:55] sixlive commented on #61
@joshuap Has this been implemented on the HB side yet?

[2019-07-22 18:17] joshuap commented on #61
The backend should support sending it, but we aren't displaying it yet. I'll do the UI part this week.

[2019-07-25 01:07] joshuap commented on #61
@sixlive I'm looking at the PHP docs, and it looks like there may be a few additional fields available in backtraces. Would it be possible to collect `object` and `type` in addition to `class` and `args`, and is it relevant to this issue? See here: https://www.php.net/manual/en/function.debug-backtrace.php#refsect1-function.debug-backtrace-returnvalues

I'm also wondering if the `type` value could

[2019-07-25 01:07] joshuap commented on #61
Asking because this influences how we display the full PHP backtraces in our UI.

[2019-08-13 22:14] sixlive commented on #61
@joshuap we are already sending args and https://github.com/honeybadger-io/honeybadger-php/pull/89 introduces `type` and `class`. I think the validation issues we've been discussing (and possibly solving with https://github.com/honeybadger-io/honeybadger-php/pull/89) are caused by trying to JSON encode the object so I think we should stick with the class name for now.

[2019-08-13 22:18] joshuap commented on #61
Sounds good, thanks. Do you know if, given `method`, `type`, and `class`, there is a way to differentiate between a regular method call and a static method call?

[2019-08-13 22:19] sixlive commented on #61
Yes, the `type` will be either `null`, `->` (regular), or `::` (static)

[2019-08-14 00:32] #61 closed

[2019-09-10 16:07] drbyte opened #90 "Undefined index: args, line 93 BacktraceFactory.php"
Missing `arg` parameter throws error:

[code]
Found during Laravel Forge deployments since updating to honeybadger-laravel 1.7.2
Seems to be related to calling artisan commands, although I haven't been able to narrow it to one specifically.

Ref: https://github.com/honeybadger-io/honeybadger-php/pull/89#discussion_r322827823
Ref: Faults 54680936 and 54680937

Package versions:
honeybadger-io/honey

[2019-09-10 16:07] sixlive commented on #90
Thanks!! Like I said, I'll path this later today

[2019-09-13 15:03] #90 closed

[2019-09-13 15:18] sixlive commented on #90
Tagged in https://github.com/honeybadger-io/honeybadger-php/releases/tag/v1.7.1

[2019-09-13 15:22] drbyte commented on #90
Thanks!

[2019-09-24 16:37] bgraf-zlab opened #93 "Reporting an exception fails because of recursive reference in the payload"
Hi there,

I'm evaluating Honeybadger as a error logging/monitoring solution for a laravel based web application. We're using laravel6 with lighthouse-php as GraphQL API provider. I've setup the app as described in the readme of the `honeybadger-laravel` package, but I'm experiencing some exceptions not being logged to your backend. When debugging the issue I've found that the payload that's being

[2019-09-24 16:44] sixlive commented on #93
Is there any additional context you can provide that led up to the error? This would help me figure out what JSON is attempted to be encoded.

[2019-09-24 16:46] sixlive commented on #93
I do like your suggestion with `JSON_PARTIAL_OUTPUT_ON_ERROR` but I would also like to see if we can get to the root of the issue and wotk around/with what is attempting to get encoded.

[2019-09-25 09:48] bgraf-zlab commented on #93
Hey,

I couldn't find a way to properly detect _where_ a recursion is in an array in PHP. But I narrowed it down by trial and error…

In the array that's returned by `ExceptionNotification->format()`/`ExceptionNotification->make()`, it's in both `['error']['backtrace']` and in `['error']['causes']`. In the latter I narrowed it down further to the `['args']` section of two of the `['error']['causes

[2019-10-02 17:49] stympy opened #94 "Bump monolog to 1.25"
For the 1.x branch, naturally. :)

[2019-10-02 18:03] sixlive commented on #94
There was some reason by it was pinned to `1.24` can't recall why though. Will check it out.

[2019-11-18 21:10] sixlive commented on #93
Resolved in https://github.com/honeybadger-io/honeybadger-php/releases/tag/v2.0.1

[2019-11-18 21:10] #93 closed

[2019-12-04 18:30] sixlive commented on #94
Resolved in https://github.com/honeybadger-io/honeybadger-php/releases/tag/v1.8.0

[2019-12-04 18:30] #94 closed

[2019-12-10 07:25] rgreer4 opened #102 "Any issue sending an array or object as context?"
The doc blocks for the context($key, $value) command defines $value as int|string.  However, the library and HoneyBadger itself happily process and display PHP arrays and objects it appears, nicely formatted.

Will this cause any issues, and is intended?  (And if ok, could the doc block be updated to include all types supported/mixed, to make IDE's not whine?)

As always, thanks for being awesome!

[2019-12-10 10:00] sixlive commented on #102
Sure! I've opened #103 (will plan on merging sometime today). I wouldn't recommend sending objects as it may have unintended side effects or large datasets that don't really help with providing context as well as an explicit array would.

[2019-12-10 11:47] stympy commented on #102
Objects (hashes/associative arrays) are perfectly fine to send as long as they aren’t overly large or too-deeply nested.

[2020-02-10 15:20] #102 closed

[2020-02-10 16:25] sixlive commented on #102
Released in [2.0.2](https://github.com/honeybadger-io/honeybadger-php/releases/tag/v2.0.2)

[2020-07-23 12:26] Munesh12 opened #110 "error received"
## What are the steps to reproduce this issue?

1. …
2. …
3. …

## What happens?
…

## What were you expecting to happen?
…

## Any logs, error output, etc?
…

## Any other comments?
…

## What versions are you using?
**Operating System:** …  Ubuntu 18.04
**Package Version:** …2.1.0

Symfony\Component\Debug\Exception\FatalThrowableError:       syntax error, unexpected ''16'' (T_CONSTANT_ENCAPSED_S

[2020-07-23 16:59] joshuap commented on #110
Hi, this issue doesn't contain any information that we can help with here. It appears to be an email regarding an error in your application that was reported by Honeybadger. If you believe you've found a bug in a Honeybadger PHP library, please submit another issue with as much well-formatted information as possible (including steps to reproduce). If you're having trouble using Honeybadger, email

[2020-07-23 16:59] #110 closed

[2020-07-23 18:09] joshuap opened #112 "ServiceException error"
We had a customer report a `ServiceException` invalid payload error. I don't have much information besides the stack trace and that they are using 2.0.1. I seem to remember that we fixed a similar issue in the past, but don't remember what the cause was.

<img width="1123" alt="Screen Shot 2020-07-23 at 11 06 41 AM" src="https://user-images.githubusercontent.com/474649/88321941-d06a9380-ccd4-11ea-

[2020-07-23 18:46] Munesh12 commented on #110
Sure sir, Thanks for quick replies

Thanks & regards,

Munesh Kumar

 <http://www.samplejunction.com/>

tel: +1 818 284 6550 [US], +91 11 4567 0889 [IN] | mobile: +91 9716434038 | Skype: cid.1de08c378fdf8c5f

email:  <mailto:muneshk@samplejunction.com> muneshk@samplejunction.com | website:  <http://www.samplejunction.com/> www.samplejunction.com

 <http://twitter.com/samplejunction/>  <http://www.

[2020-07-24 21:50] sixlive commented on #112
Hmmmm, I believe the previous issues you mentioned was https://github.com/honeybadger-io/honeybadger-php/issues/93. We [back-ported that fix](https://github.com/honeybadger-io/honeybadger-php/pull/100) to v1 as well. I'll look into this a bit more closely.

[2020-11-05 18:34] joshuap opened #116 "Filtering context data"
I believe that we currently apply params filters to the entire `payload["request"]` object when reporting errors, which includes `payload["request"]["context"]`. In our other client libraries, we prefer to skip filtering any data that is explicitly user-provided; in the case of context, people are adding the data intentionally, so it's safe to assume that it's not sensitive (if it is, they should

[2020-11-05 18:40] jasonlbeggs commented on #116
Hey @joshuap. I'm actually the one that submitted the support request on behalf of Tim. I think I misspoke. The issue I'm having is actually under the "Params" tab, you can see the screenshot of the filtered data below. I'd like to be able to see that "params" key.

![image](https://user-images.githubusercontent.com/25065083/98282592-75e80100-1f6c-11eb-8a91-0031f0e6739e.png)

[2020-11-05 18:55] sixlive commented on #116
Awesome! @jasonlbeggs this helps a lot.

[2020-11-05 18:57] jasonlbeggs commented on #116
Hey @sixlive! If it helps any, this is a Livewire request. Let me know if I can provide any additional context!

[2020-11-06 16:38] #116 closed

[2020-11-06 22:37] sixlive commented on #116
Tagged [v2.2.2](https://github.com/honeybadger-io/honeybadger-php/releases/tag/v2.2.2)

[2020-11-07 19:50] fernandomatos commented on #112
I found two issues that probably lead to the solution of the problem. This is the coding I'm using to solve the problem at the moment.

**vendor\honeybadger-io\honeybadger-php\src\HoneybadgerClient.php**

[code]

The `JSON_PARTIAL_OUTPUT_ON_ERROR` helps with recursion but, at least for me, causes a collateral effect of exhausted memory, because of the big arrays sometimes, generating the `ServiceE

[2021-01-19 18:11] joshuap opened #121 "Feedback regarding service errors"
Feedback from a user:

Would it make more sense to log Honeybadger-related errors instead of throwing?

[2021-01-20 15:25] stympy opened #122 "Sending too much args data"
The args being sent along with the backtrace lines can be deeply nested and very large, resulting in payloads that are in the tens of megabytes. Some sample payloads show individual backtrace lines with args of 2-5 megabytes. The args key for each backtrace line should be limited to no more than 1 kilobyte.

[2021-02-10 22:33] brantmessenger commented on #112
This may be related. I received a very similar error.

`There was an error sending the payload to Honeybadger. {"exception":"[object] (Honeybadger\\Exceptions\\ServiceException(code: 0): There was an error sending the payload to Honeybadger. at C:\\__\\Workspaces\\JetBrains\\mwa\\vendor\\honeybadger-io\\honeybadger-php\\src\\Exceptions\\ServiceException.php:46)`

So I took a little time and drille

[2021-02-11 02:40] joshuap commented on #112
Thanks for the extra info, @brantmessenger! I'm looking for someone to dig into this right now (see [here](https://www.notion.so/honeybadger/Laravel-Sprint-public-0ff247c587604b08ba6f95d96c65efdc) if anyone is interested).

I think this may be the same issue as #121 — we need to stop swallowing these exceptions, and log them or something.

[2021-02-14 15:19] shalvah commented on #121
Indeed it would. For quota-related issues, it's best to email the user from the backend (not sure if that already happens).

Error-tracking apps shouldn't cause extra errors.😅

[2021-02-16 18:15] shalvah opened #127 "args are missing on PHP 7.4"
On my machine (PHP 7.4), the `args` value in the exception trace is always missing. This is because of the newly added [zend.exception_ignore_args](https://www.php.net/manual/en/ini.core.php#ini.zend.exception-ignore-args) ini setting.

[code]

 It was set to `On` by default for me, even though the description says the default is `Off`. Switching it to `Off` allows the `args` array to work as norm

[2021-02-16 21:06] shalvah commented on #112
PR: https://github.com/honeybadger-io/honeybadger-laravel/pull/70

[2021-02-17 18:07] #121 closed

[2021-02-19 17:18] shalvah commented on #127
Done in https://github.com/honeybadger-io/docs/pull/89

[2021-02-19 17:18] #127 closed

[2021-02-19 17:21] shalvah commented on #112
As of 2.5.0 (PHP), users can now customise the ServiceException handler. As of 3.6.0 (Laravel), ServiceExceptions will be logged, not crash.

[2021-02-19 17:21] #112 closed

[2021-02-23 15:12] shalvah commented on #122
@stympy do you have any example payloads for this?

[2021-02-23 15:32] stympy commented on #122
I’m afraid I don’t.

[2021-02-23 20:24] shalvah opened #133 "Better representation of objects in backtrace args"
Originally, args were serialised to JSON when sending to Honeybadger. In PHP, this means that an object arg might end up looking like this:

[code]

![image](https://user-images.githubusercontent.com/14361073/108902751-c9b24f00-761c-11eb-9185-ba458354d6ea.png)

The object (`$arg`) is sent as a JSON object and rendered like a Ruby hash. This causes a few problems:
- It might be a bit confusing to P

[2021-02-23 20:34] shalvah commented on #133
Another note (somewhat separate issue): right now, this object transformation is only done at the top-level. So something like this:

[code]

will have the object within the `arg` array serialised as a JSON object, not a class name.

[2021-02-23 21:58] shalvah commented on #122
Hmmm... this is a bit tricky. If we arbitrarily limit the total size of `args` per function, the simple way would be to truncate the JSON, which might mean losing some args while keeping others. If we wanted to truncate each arg in a function, then we'd need to serialize them to JSON first, compare sizes, then transform each arg in a sensible way and serialize again.

I'm wondering — how about if

[2021-02-23 23:06] stympy commented on #122
I'm fine with trying that approach.

[2021-02-24 16:59] #122 closed

[2021-02-24 17:28] joshuap commented on #133
Here's a bit of background that may be related:

We currently have a few special tokens that are sent as strings (in place of the original value). For instance, when the maximum depth is reached, we replace the final object/value with `"[DEPTH]"`; when a key name is in the filtered keys list, we replace the value with [`"[FILTERED]"`](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/

[2021-02-24 18:51] stympy commented on #133
I like the idea of passing additional info for each arg that indicates the type as well as the value so we can render something similar to what a developer would expect to see in a debugger. The `var_dump`-alike option (number 2) is the presentation that makes the most sense to me, since Ruby has similar output with `inspect`.

I'm afraid I'm not understand the "[LITERAL]" suggestion, sorry!

[2021-02-24 18:56] shalvah commented on #133
That makes a lot of sense.

I think that's a pretty neat approach. And yeah, we could go with the token approach for now, so payloads remain simple. If there turn out to be more use cases for `__hb_` in the future, we can then add those.

[2021-02-24 19:11] shalvah commented on #133
I think the token approach works best if we're telling the Honeybadger UI "hey, render this as-is". The rich object approach would be better if we're merely giving the backend information about an object, and letting it render it how it wishes.

For instance, rendering an object in PHP:
- With the token approach, the rendering is the job of the client
[code]

The UI will then print `Object(stdClas

[2021-02-24 19:15] stympy commented on #133
Josh enlightened me on `[LITERAL]`, and I like that approach.

[2021-02-24 19:16] joshuap commented on #133
Yeah, I think letting the *client* handle the representation is a really good tradeoff, since this could be immediately useful across all of our platforms, without a bunch of changes to the backend/UI. All I'll need to do is handle the one rendering case and we're good to go.

I say let's go with it for now. I'll make the change in the UI this week. :)

[2021-02-24 19:18] joshuap commented on #133
@shalvah We still want to consider changing our generic object representation on the error page, though (as we previously discussed). I also want to do that, so down the road maybe we could support both ways, if we need it.

[2021-02-24 19:41] shalvah commented on #133
Sure thing @joshuap . I'm guessing that's on the roadmap.

Meantime, here's the relevant PR: #135. I'll also queue up an update to the [public API docs](https://docs.honeybadger.io/api/exceptions.html), so the convention is documented.

[2021-02-25 00:44] stympy commented on #122
I did find some example payloads, if you're still curious... they are 38 megabytes. :)

[2021-02-25 01:06] shalvah commented on #122
Sure thing! I'd like to see the impact of the new limits. You can send them
to me on Slack.

On Thu, Feb 25, 2021, 01:45 Benjamin Curtis <notifications@github.com>
wrote:

[2021-02-25 01:54] stympy commented on #122
This issue has just become more urgent. We need a new release with this pronto for users of the Laravel client.

[2021-02-25 02:48] shalvah commented on #122
@stympy already tagged a release yesterday. https://github.com/honeybadger-io/honeybadger-php/releases/tag/v2.6.0

Running `composer update` in a project should update it to use the latest version.

[2021-02-26 20:42] joshuap opened #137 "Default context is sent as an array (should be a hash)"
## What are the steps to reproduce this issue?

Set up a new example app: https://www.notion.so/honeybadger/Add-Honeybadger-to-a-new-Laravel-app-f3df5ed134f14d669483ef49c532b4c3

## What happens?
The default `notice["request"]["context"]` value is `[]`

## What were you expecting to happen?
The default `notice["request"]["context"]` value should be `{}`

## Any other comments?
Can we check for thi

[2021-02-26 22:42] shalvah commented on #137
PR: #138

[2021-03-04 16:39] joshuap opened #139 "Add endpoint configuration option"
See the [endpoint config option for the JavaScript client](https://docs.honeybadger.io/lib/javascript/reference/configuration.html#configuration-options). The default value should be `"https://api.honeybadger.io"`.

Should support http/https based on protocol in the URL.

[2021-03-04 20:09] #137 closed

[2021-03-04 20:09] #133 closed

[2021-03-10 21:25] joshuap opened #140 "Breadcrumbs feature"
See [Client Library Spec (WIP)](https://www.notion.so/honeybadger/Client-Library-Spec-aa891332f7874196aa0695b6d38dca66#8a831b641a794bb897a1d0abf1b54124).

Similar to `Honeybadger.context`, add a `Honeybadger.add_breadcrumb` (or maybe `Honeybadger.addBreadcrumb`?) method.

- [x] The method signature and behavior should be similar to the existing methods for Ruby, JavaScript, and Elixir
- [x] Breadc

[2021-03-11 17:26] shalvah commented on #140
I know we want consistency between the libraries, but any chance we can make the configs `breadcrumbs.enabled` and `breadcrumbs.max_count` for a sensible hierarchy?

[2021-03-11 22:13] shalvah commented on #140
PR: #141

[2021-03-11 23:24] joshuap commented on #140
That's fine!

[2021-03-26 16:12] shalvah commented on #140
Done in 2.8.0

[2021-03-26 16:12] #140 closed

[2021-04-13 13:43] brantmessenger opened #144 "Return type is invalid"
## What are the steps to reproduce this issue?

1. composer update
2. php artisan serve

## What happens?

Error and trace is displayed in CLI

## What were you expecting to happen?

Nothing to fail.

## Any logs, error output, etc?

[Tue Apr 13 08:23:05 2021] PHP Fatal error:  Uncaught TypeError: Return value of Honeybadger\Support\Repository::get() must be of the type array or null, int returned

[2021-04-13 13:50] brantmessenger commented on #144
Modified composer.json to use honeybadger-io/honeybadger-laravel 3.8.1, ran composer update and php artisan serve and NO ERROR.

[2021-04-13 14:27] shalvah commented on #144
Thanks. Fixing that now...

[2021-04-13 14:35] shalvah commented on #144
Fixed. You can update now.

[2021-04-13 14:35] #144 closed

[2021-05-05 18:30] joshuap opened #146 "Ignore silenced errors"
From @shalvah:

https://www.php.net/manual/en/language.operators.errorcontrol.php

[2021-05-05 18:32] joostvanhoof opened #147 "Guzzle version incorrectly defined in composer?"
## What are the steps to reproduce this issue?
1. Use `honeybadger-io/honeybadger-laravel` that requires `honeybadger-io/honeybadger-php`
2. `honeybadger-io/honeybadger-php` on its turn requires `"guzzlehttp/guzzle": "^6.3|^7.0.1"`
3. Use PHP8.0.5
4. Get requests into the Laravel app

## What happens?
Lots of these:
`
Since symfony/http-foundation 5.2: The "HEADER_X_FORWARDED_ALL" constant is depr

[2021-05-27 23:06] joshuap commented on #147
@shalvah can you take a look at this?

[2021-05-28 19:12] shalvah commented on #147
Hmmm @joostvanhoof that constraint should not "hold you back" at all. Can you run `composer show guzzlehttp/guzzle` to see what version of Guzzle is actually installed?

Also, I'm not sure this is related to Guzzle; the message you've shared doesn't mention Guzzle. Where is this message printed, btw? Logs? Console? Is it an exception or just a warning message? Can you share the stack trace you get

[2021-06-16 10:42] #139 closed

[2021-06-29 13:31] shalvah commented on #147
Hey @joostvanhoof closing this because you haven't provided more details, and it doesn't seem to be caused by this package. Let me know if you have any other issues.

[2021-06-29 13:31] #147 closed

[2021-10-19 16:21] joshuap opened #153 "Filter query strings in request URL"
We should apply request filters to the query string of the URL in the request payload. [Here's a similar issue](https://github.com/honeybadger-io/honeybadger-ruby/issues/40) we encountered in the Ruby gem, [and this is how we solved it](https://github.com/honeybadger-io/honeybadger-ruby/blob/5650ecbd5d5a0e8db9324aa01f9fda3ee1e20cc3/lib/honeybadger/util/sanitizer.rb#L147).

I believe that the URL i

[2021-11-03 13:32] #153 closed

[2021-11-11 08:06] pawbibo commented on #153
Hi @shalvah Thank you for working on this. As I checked, the `key` is already filtered in the `URL`. However, the `key` still appears in `QUERY_STRING` and `REQUEST_URI` under `Environment`. Is this expected?

[2021-11-11 09:39] shalvah commented on #153
Hmm, I don't think so. I'll look at that. Forgot the query string is part of the environment in PHP.

[2021-11-12 03:52] pawbibo commented on #153
Thank you @shalvah !

[2021-11-29 22:32] Synchro opened #156 "PHP 8.1 compatibility"
Since PHP 8.1 is now released, I'm trying to use Honeybadger with it...

## What are the steps to reproduce this issue?

I forked the repo and enabled tests in PHP 8.1. One passed but [`--prefer-lowest` fails](https://github.com/Synchro/honeybadger-php/runs/4360118198?check_suite_focus=true).

Prior to that I noticed this warning, which probably means that there are other similar issues lurking:

[2021-11-30 06:37] shalvah commented on #156
Thanks, this should be fixed now (2.11.2). Running 8.1 + --prefer-lowest is probably not a worthwhile pursuit, though—it's likely that some of the lowest supported versions of our dependencies *will* be incompatible with 8.1.

[2021-11-30 06:37] #156 closed

[2021-11-30 08:44] Synchro commented on #156
Thanks, I can see that the honeybadger-laravel package pulled in this update correctly too.

[2021-12-14 00:50] derrickschoen opened #157 "PHP 8.1 - str_replace(): Passing null to parameter #1 ($search) of type array|string is deprecated"
## What are the steps to reproduce this issue?

1. PHP 8.1
2. Have an empty query string so that ```parse_url(
            $this->httpRequest()
                                     ? $this->request->getUri()
                                     : ''
            , PHP_URL_QUERY
        );``` returns null

## What happens?
Passing null to parameter #1 ($search) of type array|string is deprecated
/ap

[2021-12-15 16:20] #157 closed

[2022-04-02 17:46] subzero10 opened #159 "Enforce Conventional Commits"

[2022-05-10 05:45] pawbibo commented on #153
Hi @joshuap @shalvah

Hi guys, I've encountered this issue that might be related with the filters. I already added the `apiKey` in the filters and its working but here it was part of the trace and its displayed unfiltered in the Backtrace. Is this expected?

![Screen Shot 2022-05-10 at 1 34 33 PM](https://user-images.githubusercontent.com/6367085/167554088-e60a2874-0d5f-4736-9db0-4c438eb9d495.png)

[2022-05-10 10:28] shalvah commented on #153
Hmmm... That's a backtrace argument, and I don't believe we filter those. It's not a small task because we'd need to make judgements on what arguments are potentially sensitive or not. To make things more complex, this isn't an `$apiKey` variable, it's a variable simply named `$url` with an API key in it, so that's hard to decide.

[PHP 8.2](https://wiki.php.net/rfc/redact_parameters_in_back_trace

[2022-05-10 14:29] austintoddj opened #161 "Return value TypeErrors"
## What are the steps to reproduce this issue?

1. composer update
2. php artisan serve

## What happens?
500 errors in the browser

## What were you expecting to happen?
No errors.

## Any logs, error output, etc?
[code]

## Any other comments?
This is the [same issue as is described here](https://github.com/honeybadger-io/honeybadger-php/issues/144).

## What versions are you using?
**Operating

[2022-05-11 21:47] chieroz opened #162 "No more backtrace with Errors?"
## What are the steps to reproduce this issue?

1. just write some code that raises an Error

## What happens?
No more backtraces so finding the problem is virtually impossible

## What were you expecting to happen?
I really need to get the backtrace to find the line with the error

## Any logs, error output, etc?
…

## Any other comments?
…

## What versions are you using?
**Operating System:** U

[2022-05-11 22:12] shalvah commented on #162
Can you provide a screenshot?

[2022-05-11 22:46] shalvah commented on #162
Also, please share a more reproducible case. I haven't been able to reproduce this. What kind of code did you run, and what showed up? Did it work on older versions of the library?

[2022-05-11 22:51] shalvah commented on #161
Of course, it's the same issue—you're running the affected version of the library that was fixed ages ago. Please update. Either update the Laravel package and PHP package together:

[code]
or, if you don't want to update the Laravel library yet:

[code]

[2022-05-11 22:51] #161 closed

[2022-05-12 04:48] pawbibo commented on #153
Thank you @shalvah , I will do this.

[2022-05-12 05:41] chieroz commented on #162
Please see this tiny piece of code;

`<?php

$array = ['foo', 'bar'];

echo $array[3];`

this code raises a Notice, I need to be able to find the error.

Here are two screenshots: one of v2.11.3 and one of v2.12.0

![Honeybadger 2.11.3](https://user-images.githubusercontent.com/486190/167999630-8b81aebd-ea86-4dd0-a3db-d5bf0b18989c.png)
![Honeybadger 2.12.0](https://user-images.githubusercontent.co

[2022-05-12 17:15] shalvah commented on #162
Ah, I think the problem may be with your error reporting setting and how we handle that. Checking...

[2022-05-17 14:24] #162 closed

[2022-05-18 20:43] shalvah commented on #162
Hi @chieroz please update to 2.12.1 and let me know if you still encounter this.

[2022-05-19 08:44] chieroz commented on #162
Hello @shalvah now it's perfect.

Thank you, great job.

Have a nice day

[2022-09-07 22:48] antoniovazevedo opened #164 "spatie/regex dependency"
Similar to #148, I have a spatie/regex ^3.1 requirement in my project and so I cannot install this package.

Is it possible to update this dependency?
Thanks!

[2022-09-07 23:16] shalvah commented on #164
Honestly don't think we need the dependency at all. It's just regex.

[2022-09-08 22:12] #164 closed

[2022-09-08 22:15] shalvah commented on #164
@antoniovazevedo this should be fixed with 2.13.0